<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flamyoad.tsukiviewer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- For Android 10 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <!-- For Android 11+ (API 30+) - Full file access -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.reader.recents.RecentTabsActivity"></activity>
        <activity android:name=".ui.home.collections.doujins.CollectionDoujinsActivity" />
        <activity android:name=".ui.home.collections.CreateCollectionActivity" />
        <activity
            android:name=".ui.fetcher.FetcherStatusActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.editor.EditorActivity" />

        <service 
            android:name=".service.FetchMetadataService"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.flamyoad.tsukiviewer.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity android:name=".ui.search.SearchResultActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity
            android:name=".ui.reader.ReaderActivity"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name=".ui.doujinpage.DoujinDetailsActivity" />
        <activity
            android:name=".ui.settings.includedfolders.IncludedFolderActivity"
            android:parentActivityName=".ui.settings.SettingsActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SettingsTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ComposeMainActivity"
            android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>